In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.cloud import bigquery
client = bigquery.Client()

In [5]:
sql = """
SELECT * FROM `mkt2.pricing_data2`
"""
df = client.query(sql).to_dataframe()

In [6]:
df.head()

,prod_id,store_id,week_num,log_demand,price_div_demand,sub_price,com_prices,log_sv,promo_perc
0,20300320,1027,33,4.727388,0.023403,2.893151,3.897396,10.68915,0.000307
1,20300320,1027,31,4.060443,0.047058,2.970268,3.838735,10.68915,0.000231
2,20300320,1027,22,4.553877,0.028555,2.916516,3.815799,10.68915,0.000246
3,20300320,1027,10,4.465908,0.024680,3.027881,3.929881,10.68915,0.023592
4,20300320,1027,3,4.820282,0.021815,3.081854,4.022153,10.68915,0.000253

In [7]:
# Check missing values
df.isna().sum()

prod_id             0
store_id            0
week_num            0
log_demand          0
price_div_demand    0
sub_price           0
com_prices          0
log_sv              0
promo_perc          0
dtype: int64

In [8]:
df['id'] = df['prod_id'].astype(str) + '_' + df['store_id'].astype(str)
df.head()

,prod_id,store_id,week_num,log_demand,price_div_demand,sub_price,com_prices,log_sv,promo_perc,id
0,20300320,1027,33,4.727388,0.023403,2.893151,3.897396,10.68915,0.000307,20300320_1027
1,20300320,1027,31,4.060443,0.047058,2.970268,3.838735,10.68915,0.000231,20300320_1027
2,20300320,1027,22,4.553877,0.028555,2.916516,3.815799,10.68915,0.000246,20300320_1027
3,20300320,1027,10,4.465908,0.024680,3.027881,3.929881,10.68915,0.023592,20300320_1027
4,20300320,1027,3,4.820282,0.021815,3.081854,4.022153,10.68915,0.000253,20300320_1027

In [9]:
from statsmodels.formula.api import ols
ids = df['id'].unique()

In [10]:
# Fit regression models for each product ID
models = {}
for id in ids:
    product_data = df[df['id'] == id]
    model = ols("log_demand ~ price_div_demand + sub_price + com_prices + log_sv + promo_perc", data=product_data).fit()
    models[id] = model

In [11]:
from scipy.optimize import root_scalar
def elasticity(p, a, b, c, d, e, f, sub, com, sv, promo):
    return b * p / (1 + np.exp(-(a + b * p + c * sub + d * com + e * sv + f * promo)))
def elasticity_diff(p, a, b, c, d, e, f, sub, com, sv, promo):
    exponent = - (a + b * p + c * sub + d * com + e * sv + f * promo)
    exponent_clipped = np.clip(exponent, -np.inf, 700)  # Clip the exponent to avoid overflow
    return b * p / (1 + np.exp(exponent_clipped)) + 1

In [13]:
optimal_p_values = {}
for id, model in models.items():
    product_data = df[df['id'] == id]
    
    # Get the average values for the independent variables
    avg_sub = product_data['sub_price'].mean()
    avg_com = product_data['com_prices'].mean()
    avg_sv = product_data['log_sv'].mean()
    avg_promo = product_data['promo_perc'].mean()
    
    # Get the regression coefficients
    a, b, c, d, e, f = model.params['Intercept'], model.params['price_div_demand'], model.params['sub_price'], model.params['com_prices'], model.params['log_sv'], model.params['promo_perc']
    
    # Find the optimal p using the root_scalar function
    res = root_scalar(elasticity_diff, args=(a, b, c, d, e, f, avg_sub, avg_com, avg_sv, avg_promo), method='secant', x0=0.01, x1=0.1)
    optimal_p_values[id] = res.root

In [14]:
optimal_p_values

{'20300320_1027': 0.03623123703514246,
 '20083454001_1027': 0.04763778320449965,
 '20182857_1027': 0.06592709742669038,
 '20310940001_1027': 2.3517287190987384,
 '20133884001_1027': 0.03922919237568135,
 '20026161001_1027': 0.30306318710728763,
 '20168304001_1027': 0.08185297050558123,
 '20425893001_1027': 0.08604112456837375,
 '20426596001_1027': 0.043433956957683734,
 '20970982_1027': 0.4197753112607278,
 '20300320_1028': 0.11479983342274637,
 '20426596001_1028': 0.037310710300583194,
 '20300320_1029': 0.04743657848408355,
 '20374621_1029': 0.04755403136267116,
 '20183964001_1029': 0.05669860481828788,
 '20168304001_1029': 0.2500854957994504,
 '20425893001_1029': 0.1199986095304564,
 '20426596001_1029': 0.03950311230481983,
 '20314039_1029': 0.06581834611184409,
 '21097782001_1029': 0.0663526432414257,
 '20300320_1032': 0.09026938428464448,
 '20133884001_1032': 0.06384109965246089,
 '20183964001_1032': 0.2299102356260253,
 '20026161001_1032': 0.07309533476505967,
 '20426596001_1032': 0.06662957417613337,
 '20815563001_1032': 0.21356696756399995,
 '20133884001_1035': 0.051407837806702716,
 '20026161001_1035': 0.19702170059949448,
 '20425893001_1035': 0.08123779057381689,
 '20426596001_1035': 0.03971524738927597,
 '20297188003_1035': 0.03111699028699506,
 '20300320_1040': 0.04549055167183709,
 '20182857_1040': 0.057722711942709455,
 '20425893001_1040': 0.10769415350002193,
 '20426596001_1040': 0.05548520506891698,
 '20300320_1050': 0.03293236046755762,
 '20316478001_1050': 0.7814611567525609,
 '20185659_1050': 0.05924399609381915,
 '20155709001_1050': 0.15296837344971953,
 '20374621_1050': 0.6493069362656155,
 '20310940001_1050': 0.1968684774203542,
 '20026161001_1050': 0.3398262904197452,
 '20425893001_1050': 0.06319272847347389,
 '20297188003_1050': 0.05145032962182189,
 '21124368001_1051': 0.3948304614517491,
 '20425893001_1051': 0.09362232987467312,
 '21012469_1051': 0.08308631595416183,
 '20300320_1066': 0.030417654950784065,
 '20316478001_1066': 6.602668716299369,
 '20185659_1066': 0.058409182030519625,
 '20779176001_1066': 0.07700067905630514,
 '20182857_1066': 0.06542120580151259,
 '20133884001_1066': 0.028532490210814,
 '20183964001_1066': 0.12265289928383433,
 '20426596001_1066': 0.02953877998026197,
 '20629220_1066': 0.15441006612825897,
 '20425893001_1079': 0.11821665172997754,
 '20426596001_1079': 0.0471441622063957,
 '20863698_1079': 0.23722769490975118,
 '20300320_1083': 0.042546391900434216,
 '20026161001_1090': 0.23575618371447968,
 '20300320_1092': 0.05131898475546337,
 '20133884001_1095': 0.04497628778666644,
 '20183964001_1095': 0.0819942665688769,
 '20425893001_1095': 0.19950686427896966,
 '20300320_1099': 0.17486333845120888,
 '20083454001_1099': 0.07803052533174783,
 '20183964001_1099': 0.13453229122754862,
 '20297188003_1099': 0.03510417667950761,
 '20300320_1114': 0.029506525069851547,
 '20100728_1127': 0.11874623741426385,
 '20297188003_1127': 0.04774946852330643,
 '20970982_1127': 0.39399219994209744,
 '20425893001_1132': 0.2747159819957512,
 '20026161001_1142': 0.5933169940255003,
 '20300320_1154': 0.07770586395729573,
 '20183964001_1154': 0.21459480116274401,
 '20026161001_1154': 0.5166354998482104,
 '20779176001_1155': 0.21002490367825247,
 '20183964001_1155': 0.0916786679006031,
 '20795534_1155': 0.4742363490098364,
 '20300320_1170': 0.26722999752426624,
 '20425893001_1170': 0.12992486237449102,
 '20426596001_1170': 0.10174600492678586,
 '20297188003_1170': 0.11763716685938559,
 '20183964001_1174': 1.857620101849876,
 '20795534_1174': 0.4934507756739338,
 '20182857_1188': 0.1886163806855324,
 '20300320_1194': 0.03304954288723675,
 '20374621_1194': 0.1817445937135366,
 '20183964001_1194': 0.08714908521039778,
 '20026161001_1194': 0.07429616031268474,
 '20426596001_1194': 0.044127317220707334,
 '21097782001_1194': 0.06811357092630684,
 '20111926001_1200': 0.12340704203205306,
 '20300320_1212': 0.04908012357983407,
 '20083454001_1212': 0.02949231875104045,
 '20316478001_1212': 6.853520394329133,
 '20779176001_1212': 0.03857729204566454,
 '20374621_1212': 0.07679661690226393,
 '20310940001_1212': 0.05994901169424008,
 '20133884001_1212': 0.027787766502330315,
 '20026161001_1212': 0.06906855085464912,
 '20168304001_1212': 0.04168009602465257,
 '20425893001_1212': 0.059981297802841824,
 '20426724001_1212': 0.0759338768628171,
 '20426596001_1212': 0.02160312272238008,
 '20521647_1212': 0.10277659833227695,
 '20314039_1212': 0.03198088839306894,
 '20136399_1212': 0.06078054483502276,
 '20863698_1212': 0.0932566725450488,
 '21097782001_1212': 0.044838375068534574,
 '20316478001_1000': 13.592486519165604,
 '20133884001_1000': 0.052981316145284334,
 '20183964001_1000': 0.07740902152632893,
 '20168304001_1000': 0.058492137701020595,
 '20425893001_1000': 0.12914181275813347,
 '20426596001_1000': 0.03286504430345151,
 '20521647_1000': 0.0249538034621486,
 '20026161001_1001': 0.1593595001956399,
 '20425893001_1001': 0.14072716515932293,
 '20183964001_1003': 0.4788534048818938,
 '20300320_1004': 0.021796301628724854,
 '20779176001_1004': 0.08197983449217335,
 '20974459001_1004': 0.08882791327341608,
 '20168304001_1004': 0.05666686642350009,
 '20425893001_1004': 0.07907443909912303,
 '20426596001_1004': 0.024327334143150997,
 '20645558_1004': 0.09096588477201212,
 '20305726001_1007': 0.08851271211088714,
 '20374621_1007': 0.11787493186829993,
 '20133884001_1007': 0.0286748261769873,
 '20026161001_1007': 0.2685420749090937,
 '20974459001_1007': 0.17594738987803524,
 '20168304001_1007': 0.02665990367597977,
 '20425893001_1007': 0.06640677602075004,
 '20426596001_1007': 0.02448558193728874,
 '20314039_1007': 0.037036556824084285,
 '20694522_1007': 0.21779771045377272,
 '20083454001_1010': 0.09281460488458806,
 '20133884001_1010': 0.05180686291624586,
 '20026161001_1010': 0.1631682029046922,
 '20425893001_1010': 0.08652225222984061,
 '20426596001_1010': 0.07005438292999934,
 '20300320_1011': 0.04596751956783524,
 '20316478001_1011': 8.36633897162891,
 '20182857_1011': 0.04081979012772183,
 '20183964001_1011': 0.333682034774292,
 '20425893001_1011': 0.11251425919506301,
 '20426596001_1011': 0.047541654983543576,
 '20970982_1011': 0.41686586859752317,
 '20815563001_1011': 0.09913742911174689,
 '20133884001_1014': 0.07015244236016092,
 '20183964001_1014': 0.14907197609576212,
 '20425893001_1014': 0.12023508439160284,
 '20426596001_1014': 0.07123073298919431,
 '20779176001_1019': 0.22365453628076293,
 '20026161001_1019': 0.12192561735471542,
 '20426596001_1019': 0.0437999690927228,
 '20133884001_1020': 0.07435841301803296,
 '20300320_1021': 0.03955116132780671,
 '20133884001_1021': 0.02991342245057012,
 '20183964001_1021': 0.07705568076801039,
 '20026161001_1021': 0.13968639644348024,
 '20426596001_1021': 0.04110022693142194,
 '20300320_1022': 0.030755732328636674,
 '20182857_1022': 0.04205536830342725,
 '20297188003_1022': 0.27939025143555535}

In [15]:
# Create an empty list to store the results
optimal_prices = []
optimal_demands = []

for id in ids:
    model = models[id]
    a, b, c, d, e, f = model.params['Intercept'], model.params['price_div_demand'], model.params['sub_price'], model.params['com_prices'], model.params['log_sv'], model.params['promo_perc']
    product_data = df[df['id'] == id]
    avg_demand = np.exp(product_data['log_demand'].mean())
    avg_sub_price = product_data['sub_price'].mean()
    avg_com_prices = product_data['com_prices'].mean()
    avg_log_sv = product_data['log_sv'].mean()
    avg_promo_perc = product_data['promo_perc'].mean()

    optimal_p = optimal_p_values[id]
    normal_price = optimal_p * avg_demand
    optimal_demand_logit = a + b*optimal_p + c*avg_sub_price + d*avg_com_prices + e*avg_log_sv + f*avg_promo_perc
    optimal_demand = np.exp(optimal_demand_logit)

    optimal_prices.append(normal_price)
    optimal_demands.append(optimal_demand)

In [16]:
optimal_df = pd.DataFrame({'id': ids, 'optimal_price': optimal_prices, 'optimal_demand': optimal_demands})

In [17]:
optimal_df[['prod_id', 'store_id']] = optimal_df['id'].str.split('_', expand=True)

In [18]:
optimal_df = optimal_df[['prod_id', 'store_id', 'optimal_price', 'optimal_demand']]

In [22]:
optimal_df['optimal_revenue'] = optimal_df['optimal_price'] * optimal_df['optimal_demand']

In [23]:
optimal_df

         prod_id store_id  optimal_price  optimal_demand  optimal_revenue
0       20300320     1027       3.686462       79.062381       291.460501
1    20083454001     1027       7.098026      113.967808       808.946469
2       20182857     1027       4.663687       54.292083       253.201287
3    20310940001     1027      90.390415       15.830767      1430.949616
4    20133884001     1027       4.837629       93.792889       453.735185
..           ...      ...            ...             ...              ...
163  20026161001     1021      11.958891       59.273185       708.841536
164  20426596001     1021       7.712224      143.594135      1107.430116
165     20300320     1022       3.215830       88.289609       283.924387
166     20182857     1022       4.665928       81.608584       380.779742
167  20297188003     1022       8.644093       14.955330       129.275264

[168 rows x 5 columns]

In [24]:
optimal_df.to_csv("gs://rochjia/optimal_store.csv")